:root{
    --primary: #1323A7;
    --secondary: #ffff00;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    width: 100vw;
    background-color: var(--secondary);
}

ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

/* header starts*/
.header{
    background: var(--primary);
    color: #fff;
    height: 80px;
}

img{
    width: 100%;
}

.img-cover{
    width: 200px;
    height: 200px;
    margin: -10px;
}

.title-header{
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

/* header ends*/

/* welcome starts*/
 section .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
}

section h1{
    text-align: center;
    padding-top: 30px;
}

#options{
    background: var(--secondary);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    color: var(--primary);
    font-weight: bold;
}

#options:hover{
    cursor: pointer;
}


/* welcome ends*/

/* view starts*/

.view{
    background: var(--primary);
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(100% 0, 100% 47%, 46% 100%, 0 100%, 0 1%);
    z-index: 100%;

}